.contactMe {
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px auto;
    background-color: #0F0E0E;
}

.contactMe_message {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactMe_message > h1 {
    font-size: 60px;
    font-weight: 600;
}

.contactMe_message > p {
    font-size: 40px;
    line-height: 1.3;
}

.contactMe_message > a {
    cursor: pointer;
}

.contactMe_img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactMe_img > img {
    width: 80%;
    height: 80%;
    border-radius: 25px;
    margin: auto;
}

footer > h3 {
    text-align: center;
    margin-bottom: 100px;
}


/*  480-less    - phone landscape & smaller */
@media all and (max-width: 480px) {
    .contactMe {
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }

    .contactMe_message {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMe_message > h1 {
    font-size: 40px;
    font-weight: 600;
}

.contactMe_message > p {
    font-size: 20px;
    line-height: 1.3;
}


.contactMe_img {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMe_img > img {
    width: 80%;
    height: 80%;
    border-radius: 25px;
    margin: auto;
}

.footer_message > h3 {
    width: 90%;
    font-size: 10px;
    text-align: center;
    margin-bottom: 100px;
    margin: auto;
}

 }