* {
    color: aliceblue;
}




/*  480-less    - phone landscape & smaller */
@media all and (max-width: 480px) {
    .stack-container {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 20px;
}

    .stack-item {
        width: 30%;
        margin: auto;
    }

.stack-container img {
    width: 50px;
}

.stack-container p {
    width: 50px;
    font-size: 8px;
    text-align: center;
}

.stack-header {
    width: 50%;
    margin: 25px auto;
}

.stack-header h3 {
    text-align: center;
}
}

/*  280-less    - phone landscape & smaller */
@media all and (max-width: 280px) {
     .stack-container {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 15px;
}




      .stack-item {
        width: 50%;
        margin: auto;
    }
} 


/*    768-480     - tablet  */
@media all and (min-width: 480px) and (max-width: 768px) {
    .stack-container {
        width: 90%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 15px;
}

    .stack-item {
        width: 60%;
        margin: auto;
    }

.stack-container img {
    width: 70px;
}

.stack-container p {
    width: 70px;
    font-size: 8px;
    text-align: center;
}
}